<div class="weather-container">
    <h1 class="page-title">Weather Forecast</h1>
  
    <div class="page-description">
      <p>Welcome to our Weather Forecast website. Here, you can explore weather information for different cities around the world.</p>
      <p>Get up-to-date weather conditions, including temperature, humidity, wind speed, and more.</p>
    </div>
  
    <div class="card">
      <h2>How to use</h2>
      <p>Simply select a city from the dropdown menu or use the search box to find weather information for a specific location.</p>
      <p>Choose between the "Current" or "Daily" tabs to view the weather for the current moment or a 5-day forecast with 3-hour intervals.</p>
    </div>
  

    
  </div>
  